<a class="btn" ng-click="$goTo('/add-sensor')">{{ 'add_sensor' | translate }}</a>
<a class="btn" ng-click="forceTask('daily-mail')">{{ 'send_daily_mail' | translate }}</a>
<a class="btn" ng-click="forceTask('monthly-mail')">{{ 'send_monthly_mail' | translate }}</a>
<h2>{{ 'weather_stations' | translate }}</h2>
<div ng-repeat="station in weatherData" class="weather-station-box">
        <h3 ng-click="$goTo('/weather-sation/graph/' + station.ip)">{{station.name}}</h3>
        <i>{{station.ip}}</i>
        <ul ng-if="station.attributed">
            <li><b>{{ 'temperature' | translate }} n°1:</b> {{station.temperature}}°C</li>
            <li ng-if="station.temperature2"><b>{{ 'temperature' | translate }} n°2:</b> {{station.temperature2}}°C</li>
            <li><b>{{ 'humidity' | translate }}:</b> {{station.humidity}}%</li>
            <li><b>{{ 'heat_index' | translate }}:</b> {{station.heat_index}}°C</li>
        </ul>
        <p ng-if="!station.attributed">{{ 'station_inactive' | translate }}</p>
        <a class="btn" ng-click="deleteSensor(station.ip)"><i class="icon-trash"></i></a>
        <a class="btn" ng-click="$goTo('/update-sensor/'+station.ip)"><i class="icon-pencil"></i></a>
        <a class="btn btn-mobile" ng-click="$goTo('/weather-sation/graph/' + station.ip)">{{ 'statistics' | translate }}</a>
</div>
