<a class="btn previous" ng-click="$goTo('/')"><span class="stronger">&#8249;</span> {{ 'go_back' | translate }}</a>
<a class="btn previous" ng-click="showWeekly()" ng-hide="view=='weekly'">{{ 'week' | translate }}</a>
<div class="canvas-container">
        <canvas id="line" class="chart chart-line" chart-data="temperatures" chart-labels="time" chart-legend="true" chart-series="seriesTemp">
        </canvas>
        <canvas id="line" class="chart chart-line" chart-data="humidity" chart-labels="time" chart-legend="true" chart-series="seriesHum">
        </canvas>
</div>
